{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    {% if user.is_authenticated %}

      <!-- Post Form View-->
      <div class="postform" id="postform-view">
        <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
          <div  class="form-group">
            <label for="post_content"><h4>New Post</h4></label>
            <textarea autofocus class="form-control" name="post_content" placeholder="What's on your mind?" rows="7">What's on your mind? </textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Submit Post">
        </form>
      </div>        
      <br>

      <!-- Follower View-->
      <div id="follow-view">
        The “Following” link in the navigation bar should take the user to a page where they see all posts made by users that the current user follows.
      </div>

    {% endif %}



    <!-- All Posts View-->
    <div id="all_post-view">

    <h3 style="font-size: 35px";><strong>All Posts</strong></h3>
    <br>

      <!-- Pagination logic-->
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div><br>

        <!-- Individual posts-->
        {% for p in page_obj %}
          <div class="post_style">
            <!-- <p id="userlink" class="user_pag" name="user_name" data-name="{{p.user}}" style="font-size:25px; font-weight: bold ;">
              <a href="#">{{p.user}}</a>
            </p> -->
            <p class="api_user_post" name="user_name" data-name="{{p.user}}" style="font-size:25px; font-weight: bold ;">
              <a href="#">{{p.user}}</a>
            </p>
            REF: FROM ALL POST VIEW<br>
            {{p.content}}<br>
            {{p.timestamp}}<br> 
            Likes: {{p.likes}}<br>
            <button>Like</button>TODO: Like button<br>
            TODO: Edit Button<br>
            TODO: Comment Button  
            <br>
          </div>
        {% endfor %}
    </div>

    <!-- All Posts View-->
    <div id="all_post_java-view">
      <h3 style="font-size: 35px";><strong>All Posts Java</strong></h3>
      Texts

      <div id="all_posts_java_sep_post">

      </div>
    </div>



    <!-- selected User View-->
    <div id="selected_user_view">

    This is the 'selected_user_view'
          
    <h2>This is the selected user: {{selected_user}}</h2><br>
    <h2>This is the active user: {{active_user}}</h2><br>
    <h2>This is the current user: {{current_user}}</h2><br>
    
    <!-- Followers/Following-->
    <p class="post_style" >
      <strong style="font-size:25px;">Followers:</strong> {{ selected_user.followers_of_user }}<br>
      <strong style="font-size:25px;">Followed: </strong> {{ selected_user.followed_by_user }} <br>
    </p>

    <!-- pagination-->
    <div class="pagination">
      <span class="step-links">
        {% if page_obj_selected_user.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj_selected_user.previous_page_number }}">previous</a>
        {% endif %}

      <span class="current">
        Page {{ page_obj_selected_user.number }} of {{ page_obj_selected_user.paginator.num_pages }}.
      </span>

      {% if page_obj_selected_user.has_next %}
        <a href="?page={{ page_obj_selected_user.next_page_number }}">next</a>
        <a href="?page={{ page_obj_selected_user.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
      </span>
    </div><br>

    <!-- Individual selectedUser Posts-->
    {% for p in page_obj_selected_user %}
      <div class="post_style">
        <p id="api_user_post" class="selected_user_page" 
        data-name="{{p.user}}" style="font-size:25px; font-weight: bold;"> <a href="#">{{p.user}}</a> 
        </p>
          REF: FROM SELECTED USER VIEW
          <br>
          {{p.content}}<br>
          {{p.timestamp}}<br> 
          Likes: {{p.likes}}<br>
          TODO: Like button<br>
          TODO: Edit Button<br>
          TODO: Comment Button  
          <br><br>
      </div>
{% endfor %}   

</div>

<div id="follower_view">
   <!-- Followers/Following--> 
   <p class="post_style" >
    Followers is now a separate standalone view.  It needs to be hidden or revealed via javascript <br>
    <strong style="font-size:25px;">Followers:</strong> {{ user.followers_of_user }}<br>
    <strong style="font-size:25px;">Followed: </strong> {{ user.followed_by_user }} <br>
  </p>
</div>

<div id="api_user_view">

    This is the 'api_user_view'
          
    <h2>This is the selected user: {{selected_user}}</h2><br>
    <h2>This is the active user: {{active_user}}</h2><br>
    
    <!-- Followers/Following -- now deprecated by stand alonve view
    <p class="post_style" >
      <strong style="font-size:25px;">Followers:</strong> {{ selected_user.followers_of_user }}<br>
      <strong style="font-size:25px;">Followed: </strong> {{ selected_user.followed_by_user }} <br>
    </p>
    -->

    <!-- Test div-->

    <div  id="api_user_test_div" >
      <!-- using both class and div because I"m not sure which one is better, but once it works delete one-->


    </div>

    <!-- pagination-->
    <div class="pagination">
      <span class="step-links">
        {% if page_obj_selected_user.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj_selected_user.previous_page_number }}">previous</a>
        {% endif %}

      <span class="current">
        Page {{ page_obj_selected_user.number }} of {{ page_obj_selected_user.paginator.num_pages }}.
      </span>

      {% if page_obj_selected_user.has_next %}
        <a href="?page={{ page_obj_selected_user.next_page_number }}">next</a>
        <a href="?page={{ page_obj_selected_user.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
      </span>
    </div><br>

    <!-- Individual selectedUser Posts  // I think this is now redundant as it is rendered in javascript now
    {% for p in page_obj_selected_user %}
      <div class="post_style">
        <p id="api_user_post" class="selected_user_page" 
        data-name="{{p.user}}" style="font-size:25px; font-weight: bold;"> <a href="#">{{p.user}}</a> 
        </p>
          REF: FROM API USER USER VIEW
          <br>
          {{p.content}}<br>
          {{p.timestamp}}<br> 
          Likes: {{p.likes}}<br>
          TODO: Like button<br>
          TODO: Edit Button<br>
          TODO: Comment Button  
          <br><br>
      </div>
{% endfor %}  
--> 

</div>



{% endblock %}

<!--
{% block script %}
<script src="{% static 'network/network.js' %}"></script>

{% endblock %}
-->





<!-- User View

<br>
NOTE: User posts simply replicate 'All Posts currently and draw from the same list.  Consider whether you wish to create separate lists for users, or simply filter All Posts by name?

 User posts

<div id="user-view">

Followers/Following

<p class="post_style" >
    <strong style="font-size:25px;">Followers</strong>: {{ user.followers_of_user }}<br>
    <strong style="font-size:25px;">Followed: </strong> {{ user.followed_by_user }} <br>
</p>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj_current_user.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj_current_user.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj_current_user.number }} of {{ page_obj_current_user.paginator.num_pages }}.
            </span>
    
            {% if page_obj_current_user.has_next %}
                <a href="?page={{ page_obj_current_user.next_page_number }}">next</a>
                <a href="?page={{ page_obj_current_user.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        <br>

    {% for p in page_obj_current_user %}
        <div class="post_style">
        <p id="userlink"
        style="font-size:25px; font-weight: bold ;"> <a href="#">{{p.user}}</a> </p>

        {{p.content}}<br>
        {{p.timestamp}}<br> 
        Likes: {{p.likes}}<br>
        TODO: Like button<br>
        TODO: Edit Button<br>
        TODO: Comment Button  
        <br><br>
</div>

</div>
    {% endfor %}


     BREAK

-->





















    <!--
      User View
    <div id="user_view">

      This is the 'user_view, deprecated'
   

      <h2>This is the selected user: {{selected_user}}</h2><br>
      <h2>This is the active user: {{active_user}}</h2><br>
      <h2>This is the current user: {{current_user}}</h2><br>
        
      Followers/Following
      <p class="post_style" >
        <strong style="font-size:25px;">Followers:</strong> {{ active_user.followers_of_user }}<br>
        <strong style="font-size:25px;">Followed: </strong> {{ active_user.followed_by_user }} <br>
      </p>

    pagination
      <div class="pagination">
        <span class="step-links">
          {% if page_obj_active_user.has_previous %}
           <a href="?page=1">&laquo; first</a>
           <a href="?page={{ page_obj_active_user.previous_page_number }}">previous</a>
          {% endif %}

        <span class="current">
          Page {{ page_obj_active_user.number }} of {{ page_obj_active_user.paginator.num_pages }}.
        </span>

          {% if page_obj_active_user.has_next %}
            <a href="?page={{ page_obj_active_user.next_page_number }}">next</a>
            <a href="?page={{ page_obj_active_user.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
    </div><br>

     Individual User Posts
    {% for p in page_obj_active_user %}
      <div class="post_style">
        <p id="userlink" class="user_page" 
          style="font-size:25px; font-weight: bold;"> <a href="{% url 'index' p.user %}"  ">{{p.user}}</a> 
        </p>
     
          {{p.content}}<br>
          {{p.timestamp}}<br> 
          Likes: {{p.likes}}<br>
          TODO: Like button<br>
          TODO: Edit Button<br>
          TODO: Comment Button  
          <br><br>
      </div>
    {% endfor %}   
    
    </div>
  
  -->

    


