


.postform {
    border-color: lightgrey; 
    border-radius:15px; 
    border-style: solid; 
    margin: 25px 25px 25px 25px; 
    padding:25px 15px 25px 15px;
}

.post_style {
    border-color: lightgrey; 
    border-radius:15px; 
    border-style: solid; 
    margin: 5px 15px 5px 15px; 
    padding:25px 15px 25px 15px;
}


.testingonly {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

